[submodule "propachi-texmacs"]
	path = propachi-texmacs
        url = git@github.com:KarlHegbloom/propachi-texmacs.git
        branch = propachi-texmacs-master
[submodule "citeproc-js"]
	path = citeproc-js
	url = git@github.com:KarlHegbloom/citeproc-js.git
	branch = KarlHegbloom-propachi-texmacs
[submodule "zotero"]
        path = zotero
        url = https://github.com/Juris-M/zotero.git
        branch = jurism-5.0
[submodule "zotero-build"]
	path = zotero-build
	url = git@github.com:KarlHegbloom/zotero-build.git
[submodule "zotero-standalone-build"]
	path = zotero-standalone-build
	url = git@github.com:KarlHegbloom/zotero-standalone-build.git
