[submodule "propachi-texmacs"]
	path = propachi-texmacs
	url = git@github.com:KarlHegbloom/propachi-texmacs.git
[submodule "citeproc-js"]
	path = citeproc-js
	url = git@github.com:KarlHegbloom/citeproc-js.git
	branch = KarlHegbloom-propachi-texmacs-1.1.139
[submodule "zotero"]
	path = zotero
	url = /home/karlheg/src/Juris-M/zotero
